h1 {
    color: white;
    background-color: purple;
    text-align: center;
}


p {
    color: purple;
}

h4 {
    color: white;
    background-color: purple;
}

table {
    color: bisque;
    background-color: purple;
    text-align: center;
}

li {
    color: purple;
}

body {
    color: whitesmoke;
}